@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&family=Montserrat:wght@100;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  cursor: pointer;
}

p {
  margin-bottom: 1rem;
}

@layer base {
  /* h1,
  h2,
  h3,
  h4,
  h5 {
    /* @apply; */
  /* }  */

  h1 {
    @apply text-[3.052rem];
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-2xl;
  }

  h5 {
    @apply text-xl;
  }
}

@layer components {
  small,
  .text_small {
    font-size: 0.8rem;
  }

  .bg_grid {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;

    background-image: linear-gradient(rgba(255, 255, 255, 0.4) 0.1em, transparent 0.1em),
      linear-gradient(90deg, rgba(255, 255, 255, 0.4) 0.1em, transparent 0.1em);
    /* background-size: 7rem 7rem; */

    @apply bg-[length:3.5rem_3.5rem] lg:bg-[length:7rem_7rem] transition-all;
  }
}
